@charset "utf-8";

$foot_color:#666666;

.foot_inner{
    width: 1000px;
    text-align: center;
    height: 80px;
    margin: 0 auto;
    padding-top: 16px;
    font-size: 12px;
    line-height: 20px;
    color: $foot_color;
    font-family:"Arial";
    p{
        line-height: 32px;
        color: $foot_color;
        font-size: 14px;
        a{
            color: $foot_color;
            font-size: 14px;
        }
    }
}