@charset "utf-8";

$innerwidth:1200px;
$border:1px solid red;
@mixin borderstyle($borderColor:#ccc,$borderWidth:1px,$borderStyle:solid){
    border:$borderColor $borderWidth $borderStyle;
}


@import "header";
@import "nav";
@import "footer";
@import "info";
body{
    background: #fafafa;
}

.head-user-menu{
    font-size: 0;
    float: right;
    height: 36px;
    width: 177px;
    background: url(../img/top_tel.png) 0px 0px no-repeat;
    position: relative;
    span{
        width: 130px;
        text-align: left;
        position: absolute;
        right: 2px;
        top: 0px;
        height: 13px;
        line-height: 13px;
        font-family: "宋体";
        font-size: 12px;
        color: #666666;
        padding-left: 40px;
    }
}

.st{
    color: #333;
    margin: 0 15px;
}

.area{
    padding-right: 20px;
    dt{
        a{
            font-size: 12px;
            color: #666666;
            font-style: normal;
            font-weight: 400;
        }
    }
}

.comdetails{
    height: 460px;
}

.info_dl{
    width: 18%;
    float: left;
}
.ser_dl{
    width: 26%;
    float: left;
    h2{
        width: 188px;
        height: 45px;
        border-bottom: 1px solid #aaaaaa;
        background: url(../img/tel.png) no-repeat 0px 9px;
    }
}

.flowstep{
    padding: 38px 0;
    margin: 0px auto;
    width: 990px;
    li{
        width: 240px;
        float: left;
        text-align: center;
        .step-name{
            color: #888;
            font-weight: 700;
            padding: 0 0 9px 0;
            font-size: 14px;
        }
        .step-no{
            color: #fff;
            font-family: "arial black";
            font-size: 18px;
            height: 36px;
            line-height: 36px;
            background: url(../img/progressBg.png) no-repeat scroll 50% -108px;
        }
        .step-first{
            background-position: 50% -180px;
        }
        .step-last{
            background-position: 50% -144px;
        }
    }
}

#container{
    margin-top:80px;
}

.w{
    width: 1000px;
    margin: 0 auto;
    .empty-cart{
        height: 98px;
        padding: 80px 0 120px;
        color: #333;
    }
    .cart-thead{
        height: 32px;
        line-height: 32px;
        margin: 0 0 10px;
        padding: 5px 0;
        background: #f3f3f3;
        border: 1px solid #e9e9e9;
        border-top: 0;
        .cart-col{
            float: left;
            height: 40px;
            line-height: 40px;
            background: #ffffff;
            color: #666;
            font-size: 14px;
            border-bottom: 1px solid #ddd;
            text-align: center;
        }
        .t-checkbox{
            // height: 18px;
            // line-height: 18px;
            // padding-top: 7px;
            width: 80px;
            padding-left: 11px;
        }
        .t-goods{
            width: 308px;
            padding-left: 19px;
            // text-align: left;
        }
        .t-prices{
            width: 130px;
        }
        .t-quantity{
            width: 210px;
        }
        .t-sum{
            width: 170px;
        }
        .t-action{
            width: 70px;
        }
    }
}
.goods-item{
    padding: 0 10px 0 40px;
    position: relative;
    height: 122px;
    background: #ffffff;
    .goods-info{
        border-top: 1px solid #f1f1f1;
    }
    .cell{
        float: left;
    }
    .b-checkbox{
        position: absolute;
        left: 30px;
        top: 32px;
        width: 30px;
        height: 20px;
        padding: 15px 0 10px 0;
    }
    .b-goods{
        height: 89px;
        text-align: left;
        padding-left: 14px;
        padding-top: 17px;
        padding-bottom: 15px;
        .goods-pic{
            width: 82px;
            height: 82px;
            margin-right: 10px;
            border: 1px solid #eee;
            float: left;
            img{
                width: 80px;
                height: 80px;
            }
        }
        .goods-msg{
            width: 250px;
            float: left;
            font-size: 14px;
            a{
                color: #666666;
            }
        }
    }
    .b-price{
        width: 112px;
        padding: 47px 40px 10px 0;
        overflow: hidden;
        text-align: right;
        strong{
            float: right;
        }
    }
    .b-quantity{
        margin:45px 0 0 45px;
        .quantity-form{
            input{
                width: 44px !important;
                height: 24px !important;
                line-height: 24px;
                border: 1px solid #ccc;
                text-align: center;
                color: black;
                outline: none;
                padding: 0 !important;
                display: inline-block;
                vertical-align: bottom;
            }
            .quantity-down{
                width: 24px;
                height: 24px;
                line-height: 24px;
                border: 1px solid #ccc;
                background-color: #dddddd;
                display: inline-block;
                color: #ffffff;
                text-align: center;
            }
            .quantity-add{
                @extend .quantity-down;
            }
        }
    }
 
    .b-sum{
        width: 162px;
        height: 20px;
        padding: 45px 40px 15px 0;
        text-align: right;
    }
    .b-action{
        width: 75px;
        text-align: right;
        padding: 35px 10px 10px 0;
        a{
            color: #666666;
        }
    }
}

#cart-floatbar{
    background: #fff;
    height: 90px;
    width: 100%;
    color: #666;
    font-size: 14px;
    position: relative;
    margin-top: 20px;
    background: #ffffff;
    .select-all{
        float: left;
        color: #666;
        font-size: 14px;
        text-align: center;
        width: 80px;
        padding-left: 11px;
        margin:30px 0 0 2px;
    }
    .operation{
        float: left;
        height: 80px;
        width: 310px;
        line-height: 80px;
        a{
            color: #666666;
            margin-right: 10px;
        }
    }
    .btn-area{
        float: right;
        width: 140px;
        height: 50px;
        line-height: 50px;
        margin: 20px 20px 0 0;
        text-align: center;
        background: #ff4d4d;
        border-radius: 4px;
        a{
            font-size: 16px;
            color: #fff;
            font-weight: 700;
        }
    }
    .price-sum{
        float: right;
        height: 80px;
        line-height: 30px;
        margin: 7px 20px 0 10px;
        color: #666;
        width: 220px;
        background: #ffdddd;
        text-align: center;
        .totalprice{
            font-size: 28px;
            color: #fc2525;
            font-weight: 700;
            margin-top: 20px;
        }
    }
    .amount-sum{
        float: left;
        color: #999;
        height: 44px;
        line-height: 30px;
        margin: 20px 20px 0;
        cursor: pointer;
        em{
            font-size: 28px;
            color: #333;
            text-align: left;

            font-style: normal;
            font-weight: 700;
            margin: 0 3px;
        }
    }
}

.shop-ex{
    text-align: right;
}

