@charset "UTF-8";
.header {
  border-bottom: 1px solid #e7e7e7;
  background: #f1f1f1;
}

.head-inner {
  width: 1200px;
  height: 32px;
  line-height: 32px;
  margin: 0 auto;
  color: #666;
}

.head-inner h2 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  float: left;
}

.head_nav {
  float: right;
}
.head_nav li {
  min-width: 80px;
  float: left;
  text-align: center;
  height: 32px;
  line-height: 32px;
  position: relative;
  font-size: 12px;
}
.head_nav li:hover {
  background: #ffffff;
}
.head_nav li:hover .myindent {
  display: block;
}
.head_nav li a {
  color: #666;
  font-size: 12px;
  text-align: center;
}
.head_nav li i {
  width: 13px;
  height: 13px;
  margin-left: 3px;
  display: inline-block;
  background: url(../img/isprite.png) 4px 4px no-repeat;
  vertical-align: middle;
}
.head_nav li b {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #dfdfdf;
  font-weight: 400;
  font-size: 12px;
}

.myindent {
  width: 79px;
  background-color: #ffffff;
  position: absolute;
  z-index: 5;
  left: -1px;
  top: 32px;
  border: solid 1px #F0F0F0;
  border-top-color: #ffffff;
  display: none;
}

.nav {
  height: 165px;
}
.nav .nav_top {
  width: 1200px;
  margin: 0 auto;
  height: 120px;
}
.nav .nav_top h2 {
  width: 240px;
  height: 117px;
  float: left;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}
.nav .nav_top .nav_top_right {
  width: 960px;
  padding-top: 37px;
  float: left;
  position: relative;
}
.nav .nav_top .nav_top_right .logo_right {
  position: absolute;
  right: 0px;
  top: 8px;
}

.area {
  width: 84px;
  float: left;
  text-align: center;
}
.area dt a {
  color: #333;
  line-height: 26px;
  font-weight: bold;
}
.area dd {
  width: 61px;
  height: 21px;
  border: 1px solid #e5e5e5;
  display: inline-block;
  position: relative;
  background-color: #ffffff;
}
.area dd a {
  color: #a0a0a0;
  font-size: 12px;
}
.area dd .area_info {
  display: none;
}

.search {
  width: 439px;
  float: left;
  margin-left: 58px;
}
.search dt {
  display: table;
}
.search dt .search_input {
  width: 256px;
  height: 32px;
  border: 1px #e60012 solid;
  border-right: none;
  padding-left: 40px;
  font-size: 12px;
  color: #666666;
  float: left;
  outline: none;
  background: url(https://www.lecuntao.com/homenew/templates/default/images/sc_fdj.png?v=42a074f765) 12px 7px no-repeat;
}
.search dt .search_l_btn, .search dt .search_r_btn {
  width: 70px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  float: left;
  color: #ffffff;
  border: none;
  cursor: pointer;
  background-color: #e60012;
  margin-right: 2px;
}
.search dt .search_r_btn {
  background-color: #666666;
  margin: 0;
}
.search dd a {
  font-size: 12px;
  line-height: 22px;
  height: 22px;
  margin-right: 15px;
  color: #999;
  font-family: "宋体", Arial;
}

.mycart {
  width: 138px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #dfdfdf;
  background-color: #f9f9f9;
  float: left;
  position: relative;
  margin-right: 30px;
  margin-left: 20px;
}
.mycart b {
  width: 18px;
  height: 14px;
  font-size: 12px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  right: 18px;
  top: -3px;
  color: #ffffff;
  background: url(../img/isprite.png) -19px 0px no-repeat;
}
.mycart a {
  width: 92px;
  height: 32px;
  display: block;
  color: #333;
  font-size: 12px;
  padding-left: 46px;
  background: url(../img/isprite.png) -459px 8px no-repeat;
}
.mycart a i {
  width: 15px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/isprite.png) -33px -17px no-repeat;
}

.cart_list {
  display: none;
  font-size: 14px;
  width: 300px;
  height: 70px;
  background: #f5f5f5;
  border: 1px solid #dfdfdf;
  border-top: 0;
  position: absolute;
  z-index: 10;
  right: 0;
}
.cart_list .h2 {
  background: #fff;
  padding-left: 10px;
}
.cart_list .h3 {
  width: 300px;
  height: 39px;
  display: table;
  padding-left: 10px;
}
.cart_list .h3 span {
  float: left;
}
.cart_list .h3 .ctlt_buy {
  float: right;
}

.nav_bottom {
  height: 43px;
  border-bottom: 2px solid #e60012;
}

.nav_bottom_inner {
  width: 1200px;
  height: 43px;
  margin: 0 auto;
  position: relative;
}
.nav_bottom_inner .nav_b_l {
  float: left;
  width: 212px;
  font-size: 16px;
  height: 43px;
  background-color: #f32613;
  padding-bottom: 2px;
}
.nav_bottom_inner .nav_b_l a {
  width: 212px;
  height: 43px;
  line-height: 43px;
  display: block;
  padding-left: 16px;
  color: #fff;
}
.nav_bottom_inner .nav_b_l a .icon {
  width: 21px;
  height: 43px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  background: url(../img/isprite.png) -59px 15px no-repeat;
}
.nav_bottom_inner .nav_b_r {
  width: 960px;
  float: left;
  margin-left: 4px;
}
.nav_bottom_inner .nav_b_r li {
  float: left;
  line-height: 43px;
  height: 43px;
  font-size: 15px;
  padding: 0 18px;
}
.nav_bottom_inner .nav_b_r li a {
  color: #000;
}
.nav_bottom_inner .nav_b_r li .red_a {
  color: #e60012;
}
.nav_bottom_inner .nav_b_r li:hover a {
  color: #e60012;
}

.footer {
  height: 184px;
  background: #000000;
}

.ft_inner {
  width: 1200px;
  margin: 0 auto;
  color: #ffffff;
  padding-bottom: 20px;
  position: relative;
}
.ft_inner p {
  margin-top: 3px;
  font-size: 14px;
  height: 22px;
}
.ft_inner p a {
  color: #fff;
}
.ft_inner p .dim {
  color: #666;
}

.ft_nav {
  width: 1200px;
  padding-top: 13px;
  height: 28px;
}
.ft_nav li {
  float: left;
  line-height: 28px;
  font-size: 14px;
}
.ft_nav li a {
  color: #fff;
  margin: 0 8px;
}
.ft_nav li .a_extra {
  margin: 0 8px 0 0;
}

.ft_base {
  position: absolute;
  top: 132px;
  left: 500px;
}
.ft_base li {
  float: left;
  margin-left: 3px;
}
.ft_base li .ft_img_2 {
  width: 103px;
  height: 32px;
}

.info {
  width: 100%;
  margin: 65px auto 0 auto;
  background-color: #f9f9f9;
  display: table;
  border-top: 1px solid #f1f1f1;
}
.info .info_inner {
  width: 1171px;
  padding-left: 29px;
  height: 214px;
  padding-top: 49px;
  margin: 0 auto;
  background-color: #f9f9f9;
  display: table;
  position: relative;
}

.info_dl {
  width: 166px;
  float: left;
}
.info_dl dt {
  font-size: 18px;
  line-height: 43px;
  height: 43px;
  color: #333333;
}
.info_dl dt a {
  color: #333333;
}
.info_dl dd {
  line-height: 26px;
  height: 26px;
  font-size: 12px;
  position: relative;
}
.info_dl dd a {
  color: #999999;
}

.ewm {
  position: absolute;
  left: 57px;
  top: 21px;
  display: none;
  width: 108px;
  height: 143px;
}

.wx, .wb {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 11px;
  background: url(../img/isprite.png) -338px -142px no-repeat;
}

.wb {
  background-position: -306px -142px;
}

.qrcode {
  padding-top: 15px;
  float: right;
  display: table;
}
.qrcode li {
  width: 90px;
  margin-right: 8px;
  float: left;
}
.qrcode li h2 {
  line-height: 27px;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: #666;
}

.icon_car {
  width: 116px;
  height: 58px;
  background: url(https://www.lecuntao.com/homenew/templates/default/images/car.png?v=1c53c827f9) 0 0 no-repeat;
  position: absolute;
  left: 4px;
  top: -22px;
}

.icon_home {
  width: 252px;
  height: 109px;
  background: url(https://www.lecuntao.com/homenew/templates/default/images/home.png?v=5858808d31) 0 0 no-repeat;
  position: absolute;
  right: 9px;
  top: -65px;
}

body {
  background: #fafafa;
}

.head-user-menu {
  font-size: 0;
  float: right;
  height: 36px;
  width: 177px;
  background: url(../img/top_tel.png) 0px 0px no-repeat;
  position: relative;
}
.head-user-menu span {
  width: 130px;
  text-align: left;
  position: absolute;
  right: 2px;
  top: 0px;
  height: 13px;
  line-height: 13px;
  font-family: "宋体";
  font-size: 12px;
  color: #666666;
  padding-left: 40px;
}

.st {
  color: #333;
  margin: 0 15px;
}

.area {
  padding-right: 20px;
}
.area dt a {
  font-size: 12px;
  color: #666666;
  font-style: normal;
  font-weight: 400;
}

.comdetails {
  height: 460px;
}

.info_dl {
  width: 18%;
  float: left;
}

.ser_dl {
  width: 26%;
  float: left;
}
.ser_dl h2 {
  width: 188px;
  height: 45px;
  border-bottom: 1px solid #aaaaaa;
  background: url(../img/tel.png) no-repeat 0px 9px;
}

.flowstep {
  padding: 38px 0;
  margin: 0px auto;
  width: 990px;
}
.flowstep li {
  width: 240px;
  float: left;
  text-align: center;
}
.flowstep li .step-name {
  color: #888;
  font-weight: 700;
  padding: 0 0 9px 0;
  font-size: 14px;
}
.flowstep li .step-no {
  color: #fff;
  font-family: "arial black";
  font-size: 18px;
  height: 36px;
  line-height: 36px;
  background: url(../img/progressBg.png) no-repeat scroll 50% -108px;
}
.flowstep li .step-first {
  background-position: 50% -180px;
}
.flowstep li .step-last {
  background-position: 50% -144px;
}

#container {
  margin-top: 80px;
}

.w {
  width: 1000px;
  margin: 0 auto;
}
.w .empty-cart {
  height: 98px;
  padding: 80px 0 120px;
  color: #333;
}
.w .cart-thead {
  height: 32px;
  line-height: 32px;
  margin: 0 0 10px;
  padding: 5px 0;
  background: #f3f3f3;
  border: 1px solid #e9e9e9;
  border-top: 0;
}
.w .cart-thead .cart-col {
  float: left;
  height: 40px;
  line-height: 40px;
  background: #ffffff;
  color: #666;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.w .cart-thead .t-checkbox {
  width: 80px;
  padding-left: 11px;
}
.w .cart-thead .t-goods {
  width: 308px;
  padding-left: 19px;
}
.w .cart-thead .t-prices {
  width: 130px;
}
.w .cart-thead .t-quantity {
  width: 210px;
}
.w .cart-thead .t-sum {
  width: 170px;
}
.w .cart-thead .t-action {
  width: 70px;
}

.goods-item {
  padding: 0 10px 0 40px;
  position: relative;
  height: 122px;
  background: #ffffff;
}
.goods-item .goods-info {
  border-top: 1px solid #f1f1f1;
}
.goods-item .cell {
  float: left;
}
.goods-item .b-checkbox {
  position: absolute;
  left: 30px;
  top: 32px;
  width: 30px;
  height: 20px;
  padding: 15px 0 10px 0;
}
.goods-item .b-goods {
  height: 89px;
  text-align: left;
  padding-left: 14px;
  padding-top: 17px;
  padding-bottom: 15px;
}
.goods-item .b-goods .goods-pic {
  width: 82px;
  height: 82px;
  margin-right: 10px;
  border: 1px solid #eee;
  float: left;
}
.goods-item .b-goods .goods-pic img {
  width: 80px;
  height: 80px;
}
.goods-item .b-goods .goods-msg {
  width: 250px;
  float: left;
  font-size: 14px;
}
.goods-item .b-goods .goods-msg a {
  color: #666666;
}
.goods-item .b-price {
  width: 112px;
  padding: 47px 40px 10px 0;
  overflow: hidden;
  text-align: right;
}
.goods-item .b-price strong {
  float: right;
}
.goods-item .b-quantity {
  margin: 45px 0 0 45px;
}
.goods-item .b-quantity .quantity-form input {
  width: 44px !important;
  height: 24px !important;
  line-height: 24px;
  border: 1px solid #ccc;
  text-align: center;
  color: black;
  outline: none;
  padding: 0 !important;
  display: inline-block;
  vertical-align: bottom;
}
.goods-item .b-quantity .quantity-form .quantity-down, .goods-item .b-quantity .quantity-form .quantity-add {
  width: 24px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #ccc;
  background-color: #dddddd;
  display: inline-block;
  color: #ffffff;
  text-align: center;
}
.goods-item .b-sum {
  width: 162px;
  height: 20px;
  padding: 45px 40px 15px 0;
  text-align: right;
}
.goods-item .b-action {
  width: 75px;
  text-align: right;
  padding: 35px 10px 10px 0;
}
.goods-item .b-action a {
  color: #666666;
}

#cart-floatbar {
  background: #fff;
  height: 90px;
  width: 100%;
  color: #666;
  font-size: 14px;
  position: relative;
  margin-top: 20px;
  background: #ffffff;
}
#cart-floatbar .select-all {
  float: left;
  color: #666;
  font-size: 14px;
  text-align: center;
  width: 80px;
  padding-left: 11px;
  margin: 30px 0 0 2px;
}
#cart-floatbar .operation {
  float: left;
  height: 80px;
  width: 310px;
  line-height: 80px;
}
#cart-floatbar .operation a {
  color: #666666;
  margin-right: 10px;
}
#cart-floatbar .btn-area {
  float: right;
  width: 140px;
  height: 50px;
  line-height: 50px;
  margin: 20px 20px 0 0;
  text-align: center;
  background: #ff4d4d;
  border-radius: 4px;
}
#cart-floatbar .btn-area a {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}
#cart-floatbar .price-sum {
  float: right;
  height: 80px;
  line-height: 30px;
  margin: 7px 20px 0 10px;
  color: #666;
  width: 220px;
  background: #ffdddd;
  text-align: center;
}
#cart-floatbar .price-sum .totalprice {
  font-size: 28px;
  color: #fc2525;
  font-weight: 700;
  margin-top: 20px;
}
#cart-floatbar .amount-sum {
  float: left;
  color: #999;
  height: 44px;
  line-height: 30px;
  margin: 20px 20px 0;
  cursor: pointer;
}
#cart-floatbar .amount-sum em {
  font-size: 28px;
  color: #333;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  margin: 0 3px;
}

.shop-ex {
  text-align: right;
}

/*# sourceMappingURL=cart.css.map */
